<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8dfdd4">  <td>14/12/21 23:21:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setupClass()[pri:0, instance:automation_FrameWork.ProductInfomationValidation@607425eb]">&gt;&gt;setupClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458751852</td>   <td></td> </tr>
<tr bgcolor="65eaab">  <td>14/12/21 23:21:57</td>   <td>17759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductInfomationValidation.productdetailsvalidationwithCart()[pri:0, instance:automation_FrameWork.ProductInfomationValidation@607425eb]">productdetailsvalidationwithCart</td> 
  <td>main@1458751852</td>   <td></td> </tr>
<tr bgcolor="8dfdd4">  <td>14/12/21 23:22:26</td>   <td>46357</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDownLadza()[pri:0, instance:automation_FrameWork.ProductInfomationValidation@607425eb]">&lt;&lt;tearDownLadza</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458751852</td>   <td></td> </tr>
</table>
